.header{
    position:relative;
    width:100%;
    height:139px;
}
.navig{
    width:100%;
    height:138px;
    background:#fff;
    border-bottom:1px solid #ddd;
}
.login{
    width:1100px;
    height:48px;
    margin:0 auto;
}
.login img{
    position:absolute;
    transition:all 1s;
    padding:5px;
    opacity:0;
}
.login > ul{
    float:right;
}
.login > ul > li{
    display:inline-block;
    padding:15px 0 0 5px;
}
.login > ul > li > a{
    font-size:13px;
    font-weight:600;
}
.login > ul > li > a:hover{
    color:#888;
}
.login > ul > .none:after{
    content:"|";
    display:inline-block;
    margin-left:10px;
    color:#333;
    font-weight:600;
}
.nav{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:95px;
    background:#fff;
    border-top:1px solid #eee;
    border-right:1px solid #fff;
    transition:all 1s;
    z-index:1001;
}
.border{
    width:100%;
    height:95px;
    border-bottom:1px solid #eee;
}
.nav:hover{
    height:380px;
    border-bottom:3px solid #19984a;
}
.navigation{
    width:1200px;
    height:93px;
    margin:0 auto;
}
.navigation h1{
    float:left;
    width:240px;
    height:70px;
    padding:10px;
    transition:all 1s;
}
.navi{
    display:inline-block;
    width:900px;
}
.gnb{

}
.dep1{
    float:left;
    width:100px;
    height:60px;
    margin-left:70px;
    margin-top:35px;
}
.dep1 > a{
    color:#19984a;
    font-size:21px;
    font-weight:600;
    transition:all .5s;
}
.dep1 > a:hover{
    color:#c60021;
}
.dep2{
    width:150px;
    height:250px;
    padding-top:10px;
    margin-top:15px;
}
.dep2 > li{
    width:75px;
    height:2px;
    margin-top:25px;
    transition:all 1s;
}
.dep2 > li > a{
    color:#19984a;
    font-size:13px;
    font-weight:600;
    transition:all .5s;
}
.dep2 > li > a:hover{
    color:#c60021;
}
.depbt{
    width:75px;
    height:5px;
    padding-top:50px;
}
.dep3{
    float:left;
    width:150px;
    height:40px;
    padding:3px;
}
.dep3 > li{
    margin-top:7px;
}
.dep3 > li > a{
    color:#19984a;
    font-size:13px;
    font-weight:600;
    transition:all .5s;
}
.dep3 > li > a:hover{
    color:#c60021;
}
.visual{
    width:100%;
    height:auto;
    margin:0 auto;
    margin-top:-1px;
    transition:all 1s;
}

.visual .bxslide{
    width:100%;
    height:auto;
}
.bx-wrapper .bx-controls-direction a{
    z-index:101!important;
}
.teb{
    position:relative;
    width:65.6%;
    height:auto;
    margin:0 auto;
    transition:all 1s;
}
.teb ul{
    width:100%;
    height:auto;
    margin-left:27px;
}
.teb > ul > li{
    position:relative;
    width:100%;
    height:auto;
    transition:all 1s;
}
.teb ul .bye{
    position:absolute;
    top:-9999em;
}
.teb a img{
    float:left;
    width:16%;
    height:auto;
}
.teb > ul > li:nth-child(2){
    position:absolute;
    left:200px;
    transition:all 1s;
}
.teb > ul > li:nth-child(3){
    position:absolute;
    left:400px;
    transition:all 1s;
}
.teb > ul > li:nth-child(4){
    position:absolute;
    left:600px;
    transition:all 1s;
}
.teb > ul > li:nth-child(5){
    position:absolute;
    left:800px;
    transition:all 1s;
}
.teb > ul > li:nth-child(6){
    position:absolute;
    left:1000px;
    transition:all 1s;
}
.teb > ul > li > .bye{
    position:absolute;
    width:200px;
    height:104px;
    top:-9999em
}
.list{
    position:relative;
    width:1210px;
    height:624px;
    top:20px;
    margin:0 auto;
}
.listteb{
    float:left;
    width:900px;
    height:415px;
}
.list1{
    float:left;
    margin-left:7px;
}
.list2{
    position:relative;
    width:290px;
    height:219px;
    border:1px solid #aaa;
}
.new{
    color:#19984a!important;
    width:240px;
    height:55px;
    margin-left:20px;
    border-bottom:1px solid #aaa;
    font-size:20px;
    font-weight:600;
    line-height:3;
}
.plus{
    position:absolute;
    top:0;
    left:0;
    margin-left:240px;
    margin-top:18px;
}
.list2 > ul{
    margin-top:10px;
}
.list2 > ul > li > a{
    margin-left:20px;
    color:rgb(71, 71, 71);
    font-size:14px;
    font-weight:600;
    line-height:2.5;
}
.list2 > ul > li > a:hover{
    color:rgb(143, 143, 143);
}
.list3{
    width:892px;
    height:179px;
    border:1px solid #aaa;
    
    margin-top:10px;
}
.divright{
    float:right;
}
.text{
    width:100%;
    height:100%;
}
.text > .greentrip{
    float:left;
    color:#19984a;
    font-size:20px;
    font-weight:600;
    line-height:1.6;
    margin-left:40px;
}
.text > span{
    float:left;
    color:#777;
    font-size:14px;
    font-weight:600;
    line-height:3;
}
.img{
    margin-top:37px;
    margin-left:130px;
    padding-left:130px;
}
.message{
    float:left;
    width:1195px;
    height:40px;
    margin-left:7px;
    background:#2da27f;
}
.message > strong{
    float:left;
    font-size:18px;
    font-weight:900;
    margin:8px 10px 5px 15px;
    color:#fff;
}
.mebox{
    position:absolute;
    width:965px;
    height:30px;
    margin-left:120px;
    margin-top:5px;
    background:#fff;
}
.mebox > a{
    padding-left:13px;
    line-height:29px;
    font-size:14px;
    color:#777;
}
.button{
    float:right;
    width:100px;
    height:30px;
    margin:5px;
    color:#fff!important;
    font-size:18px;
    font-weight:900;
    padding:5px;
    background-color:#0d4a27
}
.travel{
    width:100%;
    height:430px;
    margin:0 auto;
    background-color:#dfe7de;
}
.travellist{
    width:1200px;
    height:430px;
    padding-top:30px;
    margin:0 auto;
}
.travellist > h2{
    font-size:25px;
    font-weight:900;
    color:#444;
    padding-bottom:20px;
}
.inform{
    float:left;
    background-color:#278a6d;
    width:290px;
    height:300px;
    margin-right:4px;
}
.inform > dl > dt{
    width:290px;
    height:60px;
    background:#1b745a;
    padding-left:35px;
    padding-top:15px;
}
.inform > dl > dt > strong{
    font-size:24px;
    font-weight:900;
    color:#fff;
}
.inform > dl > dd{
    display:inline-block;
}
.inform > dl > dd > a{
    font-size:23px;
    font-weight:900;
    color:#fff;
}
.inform > dl > dd::after{
    content:"/";
    font-size:20px;
    font-weight:900;
    color:#fff;
}
.posi{
    padding-top:5px;
    padding-left:35px;
}
.position{
    padding-top:20px;
}
.inform > dl > dd:nth-child(4n+1)::after{
    display:none;
}
.img2{
    margin-left:4px;
}
.news{
    width:100%;
    height:479px;
}
.new + ul > li > a > img{
    width:220px; 
    height:105px; 
    padding-left:20px;
}
.logo{
    padding-top:30px;
}
.logoimg{
    float:left;
    margin-left:15px;
}
.footer{
    width:100%;
    height:174px;
    background-color:#1d7459;
}
.address{
    width:1200px;
    height:174px;
    padding-top:20px;
    margin:0 auto;
}
.left{
    float:left;
    width:700px;
    height:150px;
}
.address address{
    font-size:13px;
    color:#fff;
    font-weight:900;
}
.address ul li{
    display:inline-block;
    margin-right:10px;
    line-height:2;
    font-size:13px;
    color:#fff;
    font-weight:900;
}
.address ul li a{
    font-size:10px;
    color:#fff;
    width:30px;
    height:10px;
    border:1px solid #fff;
    font-weight:900;
    padding:1px
}
.address p{
    clear:both;
    font-size:13px;
    font-weight:900;
    color:#999;
    padding-top:10px;
}
.icon{
    padding-top:18px;
}
.icon img{
    padding-right:20px;
}
.bottomlogo{
    float:right;
}
.bottomlogo img{
    padding-left:10px;
}
@media(max-width:1024px){
    .teb{
        position:relative;
        width:100%;
        height:auto;
        margin:0 auto;
        left:-10px;
        transition:all 1s;
    }
}
@media(max-width:768px){
    .navigation{
        width:768px;
        height:93px;
        margin:0 auto;
    }
    .navigation h1{
        position:absolute;
    }
    .nav{
        height:95px;
        border-bottom:1px solid #eee;
    }
    .nav:hover{
        height:95px;
        border-bottom:1px solid #eee;
    }
    .navi{
        display:none;
    }
    .login img{
        transition:all 1s;
        opacity:1;
    }
    .login img{
        top:0;
        padding:5px;
    }
    .navigation h1 img{
        position:absolute;
        top:10px;
        left:100%;
        width:240px;
        height:70px;
    }
    .header{
        position:relative;
        width:768px;
    }
    .teb{
        width:768px;
        height:0;
        left:50px;
    }
    .visual{
        width:768px;
    }
    .teb a img{
        width:199px;
    }
    .teb > ul > li:nth-child(1){
        position:absolute;
        top:10px;
        left:76px;
        margin-top:1px;
        transition:all 1s;
    }
    .teb > ul > li:nth-child(2){
        position:absolute;
        top:10px;
        left:276px;
        margin-top:1px;
        transition:all 1s;
    }
    .teb > ul > li:nth-child(3){
        position:absolute;
        top:10px;
        left:476px;
        margin-top:1px;
        transition:all 1s;
    }
    .teb > ul > li:nth-child(4){
        position:absolute;
        top:115px;
        left:76px;
        margin-top:1px;
        transition:all 1s;
    }
    .teb > ul > li:nth-child(5){
        position:absolute;
        top:115px;
        left:276px;
        margin-top:1px;
        transition:all 1s;
    }
    .teb > ul > li:nth-child(6){
        position:absolute;
        top:115px;
        left:476px;
        margin-top:1px;
        transition:all 1s;
    }
    .a{
        position:absolute;
        top:230px;
        left:69px;
    }
    .b{
        position:absolute;
        top:230px;
        left:374px;
    }
    .c{
        position:absolute;
        width:599px;
        height:219px;
        border:1px solid #aaa;
        top:457px;
        left:69px;
    }
    .d{
        position:absolute;
        width:600px;
        top:676px;
        left:69px;
    }
    .new{
        width:550px;
    }
    .c a img{
        left:310px;
    }
    .greentrip{
        position:absolute;
        width:600px;
        height:200px;
        top:20px;
        left:-15px;
    }
    .greentrip br{
        display:none;
    }
    .greentrip span{
        position:absolute;
        font-size:12px;
        top:3px;
        left:440px;
        color:#19984a;
        border:2px solid #19984a;
        padding:3px;
        border-radius:3px;
    }
    .text img{
        position:absolute;
    }
    .movea{
        width:178px;
        height:91px;
        top:70px;
        left:13px;
    }
    .moveb{
        width:178px;
        height:91px;
        top:70px;
        left:210px;
    }
    .movec{
        width:178px;
        height:91px;
        top:70px;
        left:400px;
    }
    .divright{
        
    }
    .message{
        display:none;
    }
    .travel{
        display:none;
    }
    .news{
        display:none;
    }
    .footer{
        display:none;
    }
}
@media(max-width:640px){
    .teb > ul > li:nth-child(3n+1){
        
    }

}